---
# tasks file for add-logrotate-rule
- name: Configure log rotation
  template:
    src: logrotate.conf.j2
    dest: "/etc/logrotate.d/{{ program_name }}.log"
    owner: root
    group: root
    mode: 0644
